@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;700;800&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.navbar-wrapper {
  width: 100%;
  padding: 20px 50px;
  position: fixed;
  background-color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-elements ul {
  padding: 0;
  margin: 0;
}

.nav-elements ul li {
  list-style: none;
  display: inline-block;
  margin: 0 25px;
}

.nav-elements ul li:hover {
  background-color: lightgray;
  border-radius: 10%;
  transition: 0.2s;
}

.home-container {
  width: 100%;
  padding: 0 200px;
}

.home-content {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-col span {
  display: block;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  margin-bottom: 10px;
}

.left-col h1 {
  font-size: 40px;
  font-weight: 800;
  line-height: 40px;
  margin-bottom: 15px;
}

.left-col p {
  width: 85%;
  margin-bottom: 30px;
}

.crew-btn {
  align-items: center;
  background: black;
  color: white;
  padding: 10px 20px;
  border-radius: 40px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
}

.crew-btn:hover {
  background: white;
  color: black
}

.right-col img {
  border-radius: 20px;
}

#crew {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.expand{
  display: flex;
  width: 90vw;
}
.panel{
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}
.panel h3{
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0px;
  opacity: 0;
}
.panel.active{
  flex: 5;
}
.panel.active h3{
  opacity: 1;
  transition: opacity .5s ease-in .4s;
}

@media (max-width: 768px) {
  header {
    padding-top: 15px;
  }

  .home-container {
    padding: 0 20px;
  }

  .home-content {
    margin-top: 50px;
    height: auto;
    flex-direction: column-reverse;
  }
}